

/*Global Styles
-------------------*/
body{
    background-color:azure;
    font-family: "Acme", system-ui;
    font-size: 1.5rem;
}

html{
    box-sizing: border-box;
    font-size: large;
}

html, body{
    height: 100%;
}


/*links*/
a{
    color: rgb(32, 125, 218);
}
a:hover{
    color: rgb(184, 219, 255);
    text-decoration: none;
}
footer a{
    color:rgb(141, 141, 209);
}
footer a:hover{
    color: rgb(83, 83, 194);
}

/*buttons*/
.btn{
    background: rgb(32, 125, 218);
    color: azure;
    text-decoration: none;
}

.content-wrapper{
    margin: 0 auto;
    padding: 30px;
    max-width: 900px;
}


/*Home
-----------------*/
.home{
    background: url(../images/sharon-mccutcheon-unsplash.jpg) no-repeat;
    background-size: cover;
}
.home  .content-wrapper {
    background: rgba(205, 202, 202, 0.9);
}

/*Resume
------------------*/
.prjct_img{
    width: 500px;
}

.resume-section{
    margin-bottom: 50px;
}

.resume-section h2{
    border-bottom: 2px solid rgb(32, 125, 218) ;
}

download-link{
    position: fixed;
    top: 10px;
    left: 5pxx;
}

/*Profile
------------------*/
.project-item{
    display: flow-root;
}

.project-item img{
    width: 350px;
    float: left;
    margin-right: 20px;
}

/*Projects
-------------------*/


/*Work Experience
-------------------*/


/*Education
--------------------*/


/*Footer
------------------*/
footer{
    background: #6d6d6d;
    color: aliceblue;
}